body
{
    background-color: rgb(6, 6, 6);
    
}

h1
{
color: azure;
font: bold;
font-size: 50px;
}

h2
{
color:aqua;
font-size: 25px;
}

.btngan{
font-size: xx-small;
}

.manga{
    font-size: xx-large;
}

img {
    width: 500px;
}

